{% extends "layout.html" %}

{% block title %}
	{{ticker}}
{% endblock %}

{% block body %}
	<script src="https://code.highcharts.com/stock/highstock.js"></script> 
        <script src="https://code.highcharts.com/modules/exporting.js"></script> 
        <script src="https://code.highcharts.com/modules/export-data.js"></script> 
	<script>
	var anomalies_json;
	$.getJSON('http://ec2-34-201-147-241.compute-1.amazonaws.com/anomalies/{{ticker}}', function(anomalies){
	    anomalies_json = anomalies;
});
$.getJSON('http://ec2-34-201-147-241.compute-1.amazonaws.com/json/{{ticker}}', function (data) {

    // Create the chart
    Highcharts.stockChart('container', {


        rangeSelector: {
            selected: 0
        },

        title: {
		text: '{{ticker}} prices'
        },

        tooltip: {
            style: {
                width: '200px'
            },
            valueDecimals: 4,
            shared: true
        },

        yAxis: {
            title: {
                text: 'Price'
            }
        },

        series: [{
		name: '{{ticker}}',
            data: data,
            id: 'dataseries'

        // the event marker flags
        }, {
            type: 'flags',
            data: anomalies_json,
            onSeries: 'dataseries',
            shape: 'circlepin',
            width: 16
        }]
    });
});


	</script>
	<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
{% endblock %}
